body {
	position: relative;
	height: 100vh;
}
.header {
	margin-top: 30px;
	margin-bottom: 30px;

	display: flex;
	justify-content: center;
	align-items: center;
}
.img {
	margin-bottom: 10px;
	width: 6.6em;
	border-radius: 50%;
}
.href a{
	text-decoration: none;
	color: rgb(128,128,128);
}
.href a:hover {
	color: orange;
	transition: .3s;
}
.desc {
	margin-top: 30px;
	text-align: justify;
}
.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	
	position: absolute;
	bottom: 0;
}