body {
	position: relative;
	height: 95vh;
}
.header {
	margin-top: 30px;
	margin-bottom: 30px;

	display: flex;
	justify-content: center;
	align-items: center;
}
.img {
	margin-bottom: 10px;
	width: 6.6em;
	border-radius: 50%;
}
.href a{
	text-decoration: none;
	color: rgb(128,128,128);
}
.href a:hover {
	color: rgb(255, 140, 0);
	transition: .3s;
}
.btn {
	background-color: rgb(255, 140, 0);
	color: white;
}
.btn:hover {
	background-color: rgb(209, 115, 0);
	color: white;
}
.btn:hover:active {
	background-color: rgb(255, 140, 0);
	color: white;
}

.desc {
	color: #696969;

	margin: 30px auto;
	text-align: justify;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.number {
	text-decoration: none;
	color: black;
}
.number:hover {
	text-decoration: none;
	color: rgb(255, 140, 0);
}
.footer {	
	position: absolute;
	bottom: 0;

	display: flex;
	align-items: center;
	justify-content: center;
}
.for-child {
	font-weight: 700;
	color: black;
}